<div class="add-item">
  <h3>Add a new Car</h3>
  <input autofocus (keyup.enter)="addCar()" [(ngModel)]="newCarName" type="text" placeholder="Enter car name">
  <input autofocus (keyup.enter)="addCar()" [(ngModel)]="newCarPrice" type="text" placeholder="Enter car price">
  <button (click)="addCar();">Add</button>
</div>
<h2>Added cars</h2>
<ul class="carList">
  <li>
    <ng-container *ngFor="let car of carList">
      <app-single-car-item
        [carItem]="car"
        (onDeleteCar)="deleteCarItem($event)"
      >
      </app-single-car-item>
    </ng-container>
  </li>
</ul>

<button type="button" (click)="goBack()">Home</button>
