<div class="buy-car">
  <h3>Buy the car</h3>

  <mat-card>
    Name: {{selectedCar.name}}, Price: {{selectedCar.price}}, Quantity: {{selectedCar.qty}}
  </mat-card>

  <form class="adding-item" (ngSubmit)="onBuyCarSubmit()" [formGroup]="buyCarForm">
    <mat-form-field appearance="fill">
      <mat-label>How many would you like to buy?</mat-label>
      <input matInput formControlName="qty" type="number">
      <mat-error *ngIf="errors.qtyHasErrors">{{errors.getForQty()}}</mat-error>
    </mat-form-field>

    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</div>
