@import "../../app.component.css";

table {
  width: 100%;
}

.adding-item .mat-form-field, .adding-item .mat-checkbox, .adding-item .mat-raised-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.action-item {
  display: flex;
  padding: 5px 0;
  justify-content: flex-end;
}
