<mat-nav-list>
  <a mat-list-item routerLink="/" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
  </a>
  <a mat-list-item routerLink="/seller/dashboard" (click)="onSidenavClose()">
    <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Seller Dashboard</span>
  </a>
  <a mat-list-item routerLink="/buyer/dashboard" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">Buyer Dashboard</span>
  </a>
</mat-nav-list>
